.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    width: 100%;
    height: 48px;

    display: flex;
    align-items: center;

    padding: 0 16px;

    background: transparent;
    color: #d2d2dd;

    border: none;
    border-radius: 10px;

    font-size: 15px;
    font-weight: 700;

    cursor: pointer;

    transition: all .2s ease;
}

.button:hover {
    background: #1b1b2b;
    color: white;
}

.active {
    background: rgba(213,42,51,.15);
    color: #ffffff;
    border-left: 4px solid #d52a33;
}