.wrapper{
    padding:0px;
}

.table{
    width:100%;
    border-collapse:collapse;
    background:#1b1b2b;
    border-radius:12px;
    overflow:hidden;
}

.table th{
    background:#2b2d42;
    color:white;
    padding:14px;
}

.table td{
    padding:14px;
    text-align:center;
    color:#d4d4dd;
    border-top:1px solid #34364d;
}

.table tr:hover{
    background:#23253a;
}